@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.otf');
}

@font-face {
    font-family: 'Inter-bold';
    src: url('/assets/fonts/Inter-Black.otf');
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/NunitoSans-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

.mobile_menu {
    display: none;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 19px;
    left: 24px;
    z-index: 9999;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile_navigation {
    display: none !important;
}

header, nav, .header_contacts, .banner, .banner_navigation-counter, .banner_navigation-arrows, .form_block {
    display: flex;
    flex-direction: row;
}

.banner_navigation, .form_container {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    justify-content: space-around;
}

.header_logo {
    width: 127px;
    height: 50px;
}

nav {
    align-items: center;
}

.nav_item {
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.nav_item:not(:first-child) {
    margin-left: 57px;
}

.header_contacts {
    align-items: center;
}

.header_contacts-phone {
    font-family: Nunito;
    margin-right: 33px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.header_contacts-logo {
    width: 136px;
    height: 26px;
}

.banner {
    width: 100%;
    background-color: #436B65;
    height: 588px;
}

.banner_container-text {
    color: white;
    max-width: 868px;
    width: 100%;
    margin: 161px auto;
    z-index: 2222;
    position: relative;
}

.banner_title, .banner_subtitle {
    margin-bottom: 20px;
}

.banner_title {
    font-family: Lora;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 103.5%;
    color: #FFFFFF;
}

.banner_subtitle {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.banner_background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06) 2.86%, rgba(0, 0, 0, 0.63) 32.77%, rgba(0, 0, 0, 0.7) 53.65%, rgba(0, 0, 0, 0.57) 64.58%, rgba(0, 0, 0, 0.08) 79.69%, rgba(0, 0, 0, 0) 100%);
}

.banner_btn {
    text-decoration: none;
    color: #2B2523;
    background: #93DACF;
    border-radius: 15px;
    width: 389px;
    height: 45px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 13px 50px;
}

.active {
    display: flex;
}

.swiper {
    margin: 0 !important;
}

.banner_navigation-arrow {
    width: 50px;
    height: 20px;
}

.banner_container, .banner_background {
    max-width: 1043px;
}

.banner_background {
    border-radius: 0 200px 0 0;
}

.swiper_slide {
    max-width: 1043px;
}

.banner_navigation {
    max-width: 16.9%;
    width: 100%;
    margin: 199px 0 0 28px;
}

.banner_navigation-text {
    margin-bottom: 26px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 121.1%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner_navigation-counter {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 121.1%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}

#active_count {
    font-family: Inter-bold;
    font-size: 24px;
    line-height: 24.22px;
    font-weight: 900;
    margin-right: 5px;
}

.form_container {
    max-width: 1043px;
    width: 100%;
    background: #436B65;
    border-radius: 0 0 71px 0;
    padding: 51px 0 60px;
}

.form {
    max-width: 885px;
    width: 100%;
    margin: 25px auto;
}

.form_title, .form_subtitle {
    font-family: Lora;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 118.6%;
    color: #FFFFFF;
    max-width: 885px;
    width: 100%;
    margin: 0 auto;
}

.form_email {
    font-family: Inter;
    border: none;
    max-width: 444px;
    width: 100%;
    height: 45px;
    background: #E2E7EE;
    border-radius: 15px;
    padding-left: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 118.6%;
    color: #333333;
    margin-bottom: 15px;
}

.form_submit {
    font-family: Inter;
    width: 258px;
    height: 45px;
    background: #93DACF;
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2B2523;
    border: none;
    margin-right: 18px;
    cursor: pointer;
}

.form_label {
    max-width: 167px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.current {
    border-bottom: 1px solid white;
}

.banner_navigation-text {
    max-width: 178px;
    padding-bottom: 6px;
}

.banner_navigation-block {
    margin-bottom: 26px;
}

.banner_navigation-arrow {
    background-image: url('/assets/images/arrow.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 38px;
    background-position: center;
    border: none;
    height: 7px;
    cursor: pointer;
}

.banner_navigation-arrow::after {
    display: none;
}

.arrow_next {
    transform: rotate(-360deg);
}

.arrow_prev {
    transform: rotate(-180deg);
    margin-right: 7px;
}

.swiper-button-disabled {
    opacity: .3;
}

@media screen and (max-width: 1280px) {
    .form_container {
        max-width: 100%;
    }

    .swiper {
        max-width: 75%;
    }

    .banner_navigation {
        max-width: 27%;
    }

    .header_contacts-phone {
        font-size: 14px;
    }

    .banner_container-text {
        margin: 161px 0 0 40px;
    }

    .banner_title {
        font-size: 39px;
    }

    .banner_subtitle {
        font-size: 20px;
    }

    .form_title, .form_subtitle, .form {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .header_logo {
        width: 100px;
        height: 35px;
    }

    .nav_item:not(:first-child) {
        margin-left: 30px;
    }

    .banner_container-text {
        margin-left: 25px;
    }

    .banner_title {
        font-size: 35px;
    }

    .banner_subtitle {
        font-size: 18px;
    }

    .header_contacts-logo {
        width: 100px;
        height: 17px;
    }

    .nav_item:not(:first-child) {
        margin-left: 20px;
    }

    .form_title, .form_subtitle {
        font-size: 25px;
    }
}

@media screen and (max-width: 769px) {
    .banner {
        flex-direction: column;
        height: 568px;
    }

    .banner_title {
        font-size: 35px;
        line-height: 107%;
        height: 111px;
    }

    .banner_subtitle {
        max-width: 90%;
        font-size: 17px;
        line-height: 123.5%;
        height: 84px;
    }

    .banner_btn {
        padding: 13px 38px;
    }

    .banner_background {
        background-size: 346%;
        background-position: 40%;
    }

    .swiper {
        max-width: 100%;
        width: 100%;
        height: 568px;
    }

    .banner_background {
        border-radius: 0;
    }

    .deskop_navigation {
        display: none;
    }

    .mobile_navigation {
        display: flex !important;
        max-width: 100%;
        width: 100%;
        margin: 0;
        background-color: #436B65;
        ;
        height: 112px;
        align-items: flex-end;
        justify-content: center;
        border-radius: 0px 0px 0px 100px;
    }

    .banner_navigation-counter, .banner_navigation-arrows {
        margin-right: 27px;
    }

    .form_container {
        background-color: #FFFFFF;
    }

    .form_title, .form_subtitle {
        color: #333333;
    }

    .form_label {
        color: #A9A9A9;
    }

    header {
        display: none;
    }

    .form_title, .form_subtitle, .form {
        max-width: 100%;
        margin: 0;
    }

    .form_title, .form_subtitle {
        font-size: 21px;
        line-height: 25px;
        font-weight: 400;
    }

    .form_title {
        font-weight: bold;
        max-width: 300px;
        width: 100%;
    }

    .form_section {
        margin-top: 104px;
        padding-bottom: 100px;
    }

    .form_container {
        padding: 0;
        margin: 0 auto;
        max-width: 86.5%;
        width: 100%;
    }

    .form {
        margin-top: 27px;
    }

    .open {
        content: url("/assets/images/burger_open.png")
    }

    .mobile_navigtaion {
        width: 100%;
        height: 480px;
        background-color: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3333;
        display: none;
        animation: appearens 1s forwards;
        flex-direction: row;
    }

    .mobile_menu {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    .menu, .nav_img-container {
        display: flex;
        flex-direction: column;
        max-width: 40%;
        width: 100%;
        margin-bottom: 154px;
    }

    .nav_img-container {
        align-items: center;
        margin-bottom: 135px;
    }

    .close_btn {
        position: absolute;
        right: 36px;
        top: 36px;
        cursor: pointer;
    }

    .oveflow_hidden {
        overflow: hidden;
    }

    .menu_item {
        font-family: Lora;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 118.6%;
        color: #000000;
        margin-bottom: 38px;
        text-decoration: none;
    }

    .nav_img {
        width: 110px;
        height: 24px;
    }

    @keyframes appearens {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}