* {
    margin: 0;
    padding: 0;
}

header, nav, .header_contacts, .banner, .banner_navigation-counter, .banner_navigation-arrows, .form_block {
    display: flex;
    flex-direction: row;
}

.banner_navigation, .form_container {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    justify-content: space-around;
}

.header_logo {
    width: 127px;
    height: 50px;
}

nav {
    align-items: center;
}

.nav_item {
    text-decoration: none;
    color: #000000;
}

.nav_item:not(:first-child) {
    margin-left: 57px;
}

.header_contacts {
    align-items: center;
}

.header_contacts-phone {
    margin-right: 33px;
    text-decoration: none;
}

.header_contacts-logo {
    width: 136px;
    height: 26px;
}

.banner {
    width: 100%;
    background-color: #436B65;
    height: 589px;
}

.banner_container-text {
    color: white;
    max-width: 868px;
    width: 100%;
    margin: 161px auto;
}

.banner_title, .banner_subtitle {
    margin-bottom: 20px;
}

.banner_subtitle {
    max-width: 360px;
    width: 100%;
}

.banner_btn {
    text-decoration: none;
    color: #2B2523;
    background: #93DACF;
    border-radius: 15px;
    width: 389px;
    height: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 13px 50px;
}

.active {
    display: flex;
}

.swiper {
    margin: 0 !important;
}

.banner_navigation-arrow {
    width: 50px;
    height: 20px;
}

.banner_container, .banner_background {
    max-width: 1043px;
}

.banner_background {
    border-radius: 0 200px 0 0;
}

.swiper_slide {
    max-width: 1043px;
}

.banner_navigation {
    max-width: 223px;
    width: 100%;
    margin: 199px 0 0 28px;
}

.banner_navigation-text {
    margin-bottom: 26px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 121.1%;
}

.banner_navigation-counter {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

#active_count {
    font-size: 24px;
    line-height: 24.22px;
    font-weight: 900;
    margin-right: 5px;
}

.form_container {
    max-width: 1043px;
    width: 100%;
    background: #436B65;
    border-radius: 0 0 71px 0;

    padding: 51px 0 60px;
}

.form {
    max-width: 444px;
    width: 100%;
    margin-left: 141px;
    margin-top: 25px;
}

.form_title, .form_subtitle {
    font-size: 32px;
    line-height: 118.6%;
    color: #FFFFFF;
    max-width: 885px;
    width: 100%;
    margin-left: 141px;
}

.form_email {
    border: none;
    width: 100%;
    height: 45px;
    background: #E2E7EE;
    border-radius: 15px;
    padding-left: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 118.6%;
    color: #333333;
    margin-bottom: 15px;
}

.form_submit {
    width: 258px;
    height: 45px;
    background: #93DACF;
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2B2523;
    border: none;
    margin-right: 18px;
}

.form_label {
    max-width: 168px;
    font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #FFFFFF;
}